<!--NAVBAR IDEAS COLLABORATORS -->

<div class="container">
  <div class="row flex">
    <div class="col col-sm-3 flex">
        <div class="select-nav flex">
            <div class="btn-area flex">
              <div class="btn-pick flex-column">
                <i class="fas fa-people-carry"></i>
                <%= link_to 'Friends', "/" %>
              </div>
            </div>
        </div>
        <div class="select-nav flex">
            <div class="btn-area flex">
              <div class="btn-pick flex-column">
                <i class="far fa-lightbulb"></i>
                <%= link_to 'Ideas', "/idea" %>
              </div>
            </div>
        </div>
  </div>
</div>




<div class="container">
  <div class="row">
    <% @ideas.each do |idea| %>
        <div class="col col-sm-4 flex">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="<%=idea.idea_photo%>" alt="Card image cap">
            <div class="card-body">
              <h3 class="card-title"><%=idea.name%></h3>
              <p><%=idea.description%></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Topic: <%=idea.topic%></li>
              <li class="list-group-item">Skill Required: <%=idea.skills%></li>
              <li class="list-group-item">Creator: <%= idea.creator_name %></li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">View</a>
              <a href="#" class="card-link">Connect</a>
            </div>
          </div>
        </div>
    <% end %>
</div>
