<!--NAVBAR IDEAS COLLABORATORS -->

<div class="container">
  <div class="row flex">
    <div class="col col-sm-3 flex">
        <div class="select-nav flex">
            <div class="btn-area flex">
              <div class="btn-pick flex-column">
                <i class="fas fa-people-carry"></i>
                <%= link_to 'Friends', "/" %>
              </div>
            </div>
        </div>
        <div class="select-nav flex">
            <div class="btn-area flex">
              <div class="btn-pick flex-column">
                <i class="far fa-lightbulb"></i>
                <%= link_to 'Ideas', "/ideas" %>
              </div>
            </div>
        </div>
  </div>
</div>

<!-- CARD CONTAINER -->
<div class="container">
  <div class="row">
    <% @users.each do |user| %>
        <div class="col col-sm-4 flex">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="<%=user.photo%>" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><%=user.name%></h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Email: <%=user.email%></li>
              <li class="list-group-item">Interest: <%=user.topic_interested%></li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">View</a>
              <a href="#" class="card-link">Connect</a>
            </div>
          </div>
        </div>
    <% end %>
</div>
